* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.center {
    padding-right: calc(50% - 1140px/2);
    padding-left: calc(50% - 1140px/2);
}
.header {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
}
.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}
.header_right {
    display: flex;
    align-items: center;
    gap: 33px
}
.brand {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: rgb(241, 228, 230);
    margin-bottom: 65px;

}
.brand_img {
    width: 50%;
}
.brand_heading {
   /* display: flex;
    flex-direction: column;*/
    display: inline-block;
    border-left: 12px solid rgb(241, 109, 127);
    padding-left: 16px;
}
.heading_h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.heading_h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.color_pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.category {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px  
}
.category_card {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.category_card__img {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: -1;
    object-fit: cover;
}
.category_card_heading {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.big_card {
   grid-column: 1/4;
    min-height:111px; 
}
.products {
   /* margin-bottom: 48px;*/
    margin-right: 2%;
    margin-left: 2%;
}
.popular__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 48px;
}
.popular__heading {
    color: rgb(34, 34, 34);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
}
.popular__text {
    color: rgb(159, 159, 159);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}
.popular__products {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products__card {
    background-color: rgb(248, 248, 248);
    width: 30%;
    margin-bottom: 25px;
}
.card__photo {
    width: 100%;
    margin-bottom: 23px;
}
.card__heading {
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}
.card__description {
    color: rgb(93, 93, 93);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 18px;
}
.card__price {
    margin-bottom: 20px;
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.button {
    display: block;
    margin: 48px auto 60px auto;
    padding: 14px 39px;
    border: 1px solid #F16D7F;
    background: #FFF;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-right: calc(50% - 734px/2);
        padding-left: calc(50% - 734px/2);
    }
    .header {
        padding-top: 31px;
        padding-bottom: 20px;
    }
    .heading_h1 {
        font-size: 44px;
    }
    .heading_h2 {
        font-size: 24px;
    }
    .brand_heading {
        display: flex;
        flex-direction: column;
        width: 45%;
     }
     .category {
        margin-bottom: 109px;
        grid-template-rows: 167px 116px;
        gap: 20px 
     }
     .category_card_heading {
        font-size: 16px;
     }
     .color_pink {
        font-size: 24px;
    }
    .popular__info {
        margin-bottom: 72px;
        gap: 3px;
    }
    .products__card {
        width: 48%;
        margin-bottom: 18px;
    }
    .card__photo {
        margin-bottom: 25px;
    }
    .card__heading {
        margin-bottom: 12px;
        
    }
    .card__description {
        margin-bottom: 18px;
    }
    .card__price {
        margin-bottom: 20px;
    }

}
@media (min-width: 320px) and (max-width: 767px) {
    .center {
        padding-right: calc(50% - 310px/2);
        padding-left: calc(50% - 310px/2);
    }
    .header {
        padding-top: 25px;
        padding-bottom: 26px;
    }
    .mobile__version {
        display: none;
    }
    .brand { 
        padding: 148px 56px 148px 56px;
        justify-content: center; 
    }
    .heading_h1 {
        font-size: 38px;
    }
    .heading_h2 {
        font-size: 20px;
    }
    .color_pink {
        font-size: 20px;
    }
    .category {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
    }
    .big_card {
        height: 111px; 
    }
    .color_pink {
        font-size: 24px;
    }
    .popular__info {
        margin-bottom: 64px;
    }
    .products__card {
        width: 100%;
        margin-bottom: 16px;
    }
    .button {
        margin: 40px auto 85px auto;
    }

}